.toolbox-label {
  font-size : small;
  margin-left : 0.5em;
}

input[type=number] {
  width : 4em;
  text-align : center;
}

#siren-attack-button {
  background : linear-gradient(0.5turn, white, white 60%, #DDF 62%, #DDF);
  border : 0;
  cursor : pointer;
}

#siren-status-container {
  display : none;
}

#siren-status-container-inline {
  display : inline-block;
  border : 0px blue solid;
  background-color : #DDF;
  margin : 0.5em;
  padding : 0.5em;
}

table {
  border-collapse : collapse;
}

thead {
  background-color : #BBEEBB;
}

thead td {
  padding : 0;
  text-align : center;
  /*cursor : pointer;*/
}

.sort-header {
  cursor : pointer;
}

.sort-header:hover {
  background-color : #CCFFCC;
}

.sort-down {
  color : blue;
}

.sort-up {
  color : red;
}

td {
  border : 1px black solid;
  text-align : right;
  padding : 0 5px;
  width : 3.5em;
  height: 36px;
}

td:nth-child(1){
  text-align : center;
  width : 10em;
}

td:nth-child(2){
  text-align : center;
  width : 40px;
}

td.damage-range {
  width : 10em;
  font-size : 70%;
}

#readme-link {
  margin-top : 2em;
}
